.topBar{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.titleTopBar{
    font-size: 30px;
}
.cardStateLeft{
    width: 80px;
    height: 80px;
    color: #fff;
    padding: 7px;
    font-size: 40px;
    position: relative;
    display: inline-block;
    float: left;
}
.cardState{
    height: 80px;
    background: #fff;
}
.cardStateRight{
    width: 100%;
    padding: 5px;
}